<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
	<appSettings>
		<add key="config1" value="I'm config 1"/>
		<add key="config2" value="I'm config 2"/>
		<add key="config3" value="I'm config 3"/>
	</appSettings>
</configuration>
